.App {
 /* text-align: center; */
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 30px;
  margin-top: 22px
}

.App-header {
  background-color: #2980B9;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-name {
  font-size: 140%;
  font-weight: bold;
  display: inline-block;
    vertical-align: top;
    padding: 25px 20px 20px;
}

.JobList {
    padding: 20px;
}

.JobRow {
    cursor: pointer;
    font-size: 11pt;
    font-weight: normal;
}

.ArrowButtons {
    margin-right: 10px;
}

.PhenotypeTitle {
    vertical-align: middle;
    font-size: 80%;
}

.public_fixedDataTableCell_cellContent {
    font-size: 11pt;
}

.RawResultsTable {
    margin-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
